<!--  <h1>Footer Section</h1>  -->

{% load static %}
<div class="row footcolor mt-3">

    <div class="col-md-4 p-3">
        <h5>Address</h5>
        <hr>
        2nd floor, landmark building,<br>
        Pune 411002 <br>
        Maharashtra, <br>
        Contact-7821053848
    </div>
    <div class="col-md-4 p-3">
        <h5>Quick Links</h5>
        <hr>
        <a href="product.html" class="anchor">Home</a><br>
        <a href="about.html" class="anchor">About</a><br>
        <a href="contact.html" class="anchor">Contact</a>
    </div>
    <div class="col-md-4 p-3">
        <h5>Contact Us</h5>
        <hr>
        <a href="www.facebook.com"><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-twitter"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-whatsapp"></i></a>
    </div>

</div><!--Footer Section End-->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
</body>
</html>
