<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Form</title>
</head>
<body>
    <center>
       <table>
        <tr>
            <td><h3>Name:</h3></td>
            <td><input type="text"></td>
        </tr>

        <tr>
            <td><h3>Mobile Number :</h3></td>
            <td><input type="number" placeholder="Mobile"><br></td>
        </tr>

        <tr>
            <td><h3>Email :</h3></td>
            <td><input type="email" placeholder="abc@gmail.com"></td>
        </tr>

        <tr>
            <td><h3>Message :</h3></td>
            <td><textarea rows="3"></textarea></td>
        </tr>

        <tr>
            <td align="center" colspan="2" style="padding-top: 0.9cm;"><input type="button" value="SEND" style="font-size: larger; width: 4cm;"></td>
        </tr>
       </table>

    </center>
</body>
</html>